<!DOCTYPE html>
{% load static %}
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>wemake-django-template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{% static 'main/css/index.css' %}">

     <link rel="icon" type="image/png" sizes="16x16" href="{% static 'main/images/favicon-16x16.png' %}">

     <link rel="icon" type="image/png" sizes="32x32" href="{% static 'main/images/favicon-32x32.png' %}">

  </head>
  <body>
     <header>
        <table width="100%">
           <tr>
               <td align="left" width="30%">
                  <p>{{ user.username|default:'Гость' }}</p>
               </td>
               <td>
                   <i class = "title" align="center">Добро пожаловать!</i>
               </td>
               <td align="right" width="30%">

      {% if user.is_authenticated %}
          <a href="{% url 'main:logout' %}">Logout</a>

      {% else %}

                   <a class="button7" href="{% url 'main:signup' %}">Зарегистрироваться</a>
                   <a class="button7" href="{% url 'main:login' %}">Войти</a>
      {% endif %}

               </td>
           </tr>
        </table>
     </header>

    <h1> Welcome to the Our site</h1>
  </body>
</html>